.editor-container
  font-family: 'Open Sans', sans-serif
  color: #333
  font-size: 16px
  .ck.ck-editor__editable_inline
    padding: 0 20px
  h2, h3, h4
    margin-bottom: 2rem
  p
    line-height: 1.5rem
    margin-bottom: 1rem
  ul,
  ol
    margin-bottom: 1rem
    li
      line-height: 1.5rem
  a
    color: #409eff
    font-weight: 600
    text-decoration: none
