@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext')
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');

// @supports (display: grid) {
  @import 'grid.styl'
// }

@import 'navbar.styl'
@import 'editor-content.styl'
 
*
  margin: 0
  padding: 0
  -webkit-box-sizing: border-box
  box-sizing: border-box
  outline: none
  word-wrap: break-word

html
  width: 100%
  height: 100%

body
  font-family: 'Open Sans', sans-serif
  line-height: 1.5rem
  font-weight: 400
  letter-spacing: 0.5px
  color: #222
  overflow-x: hidden
  h6
    font-size: 0.75 //12px
  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    font-family: 'Roboto', sans-serif
    font-weight: 500
  p
    margin-bottom: 1.5rem
    &:last-child
      margin-bottom: 0
  a
    text-decoration: none
    color: #222
  ul
    padding: 0
    list-style: none

.app-container
  max-width: 1280px
  min-width: 320px
  margin: 0 auto
  padding: 0 15px

.main-banner
  height: 700px
  .banner-content
    display: flex
    flex-direction: column
    align-items: baseline
    justify-content: center
    height: 100%
    h1
      margin-bottom: 3rem
      color: #fff
    h4
      color: #1461ff
      background: #fff
      padding: 4px 18px
      border-radius: 5px
      margin-bottom: 1.5rem
    p
      color: #fff
    .banner__social-link
      display: flex
      .social-link
        margin-right: 15px
        color: #fff
        border: 1px solid #fff
        width: 40px
        height: 40px
        line-height: 40px
        border-radius: 50%
        text-align: center
        display: inline-block
        font-size: 14px
        transition: .5s
      .social-link:hover
        color: #1461ff
        background: #fff

.banner
  width: 100%
  position: relative
  z-index: 1
  background-image: url(../images/banner.jpg)
  background-size: cover
  background-position: center center
.main-banner:before
  content: ""
  position: absolute
  right: 0
  bottom: 0
  width: 100%
  height: 100%
  z-index: -1;
  background: -webkit-linear-gradient(-45deg,rgba(88, 195, 255,.7) 0,rgba(0, 77, 230,.7) 40%,rgba(0, 59, 177,.7) 100%)
.main-banner:after
  position: absolute
  content: ""
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(0,0,0, 0.60)
  z-index: -2

.backgr-grey
  background: #fafafa

section
  .section-header
    margin-bottom: 3rem
    h2
      font-weight: 300
      &:after
        content: ""
        display: block
        margin-top: 1rem
        width: 100px
        border-bottom: 2px solid #1461ff
  &.bgr-grey
    background-color: #fafafa

.card
  display: flex
  flex-direction: column
  background-color: #fff
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1)
  border-radius: 3px
  overflow: hidden

.button-container
  display: flex
  width: 100%
  .button-item
    margin: auto
    .btn
      display: inline-block
      font-size: 14px
      font-weight: 600
    .btn.btn-main
      padding: 14px 32px
      color: #fff
      background: linear-gradient(-45deg,rgba(88, 195, 255,.8) 0,rgba(0, 77, 230,.8) 40%,rgba(0, 59, 177,.8) 100%)
      border-radius: 25px
      transition: all 0.4s ease-in-out 0s
    .btn.btn-main:hover
      color: #1461ff
      background: #fff
      box-shadow: #1461ff 0 0 0px 2px
      cursor: pointer

.projects-container
  display: flex
  flex-wrap: wrap
  margin-left: -10px
  margin-right: -10px
  .project-item
    position: relative
    width: 400px
    height: 270px
    margin: 0 10px 20px
    img
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      bottom: 0
      right: 0

.information-statistic
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-around
  .data-statistic
    h2
      &::after
        content: "";
        display: block
        margin-top: 8px
        border-bottom: 4px solid #1461ff
    h5
      font-weight: 400

.contact-info
  .about
    display: flex
    align-items: center
    .icon
      width: 20px
      color: #777
      text-align: center
      margin-right: 10px
    .about-title
      width: 80px
      color: #777
  & > *
    margin: 0.5rem 0
.note
  padding-top: 0.5rem
  border-top: 1px solid #ddd
  .list:not(:last-child)
    margin-bottom: 1rem
.list
  .header
    font-weight: 700
    color: #444
  ul
    li
      display: flex
    li:before
      content: "-"
      font-size: 2rem
      margin-right: 15px
      color: #1461ff

@media (max-width: 480px)
  h1
    font-size: 2rem // 32px
    line-height: 2rem
  h2
    font-size: 1.75rem; // 28px
    line-height: 1.75rem
  h3
    font-size: 1.5rem //24px
  h4
    font-size: 1.25rem //20px
  h5
    font-size: 1.125rem //18px
  
  .information-statistic
    flex-direction: row
        

@media (min-width: 480px)
  h1
    font-size: 2.5rem //40px
    line-height: 2.5rem
  h2
    font-size: 2.125rem //34px
    line-height: 2.125rem
  h3
    font-size: 1.75rem // 28px
    line-height: 1.75rem
  h4
    font-size: 1.375rem //20px  }
  h5
    font-size: 1.25rem //22px}

@media (min-width: 840px)
  h1
    font-size: 3rem; // 48px
    line-height: 3rem;
  h2
    font-size: 2.5rem //40px
    line-height: 2.5rem
  h3
    font-size: 2rem // 32px
    line-height: 2rem
  h4
    font-size: 1.5rem //24px
  h5
    font-size: 1.375rem //22px
  
