.navbar
  position: relative
  min-height: 50px
  z-index: 1000
  &.navbar-default
    width: 100%
    padding: 10px 0
    background: #fff
    box-shadow: -1px 1px 1px rgba(20, 97, 255, 0.1)
    transition: all 0.4s ease-in-out
    -webkit-transition: all 0.4s ease-in-out
    .content
      display: flex
      justify-content: space-between
      align-items: center
      height: 50px
      .logo
        // height: 100%
        // margin-right: 15px
        // background-color: #fff
        // border-radius: 50%
        .navbar-brand
          display: block
          font-size: 30px
          letter-spacing: 1px
          font-weight: 800
          text-transform: uppercase
          color: #fff
          font-family: 'Roboto', sans-serif
        img
          height: 100%
      .main-menu
        position: relative
        ul.nav
          display: flex
          font-size: 1rem
          font-weight: 600
          > li
            position: relative
            padding: 0 10px
            transition: opacity 0.2s
            a
              color: #fff
            &.active
              opacity: 0.7
            &:hover
              cursor: pointer
              opacity: 0.5
  &.navbar-fixed
    position: fixed
    right: 0
    left: 0
  &.menu-top
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0  

.navbar-default.menu-shrink
  background-color: #fff
  box-shadow: 0px 5px 10px rgba(20, 97, 255, 0.1)
  .content 
    .logo .navbar-brand
      color: #222
    .main-menu
      ul.nav li a
        color: #222
        &.active
          color: #1461ff

.popover
  position: relative
  .navlist
    color: #6772e5
    text-transform: uppercase
    font-weight: 600
    li
      padding: 8px 0

.nav
  .sub-nav
    display: none
    position: absolute
    top: 70px
    background: #fff
    padding: 16px 32px
    border-radius: 6px
    box-shadow:
      0 50px 100px -20px rgba(50,50,93,.25),
      0 30px 60px -30px rgba(0,0,0,.3);
    li
      color: #222
  li:hover
    .sub-nav
      display: block
