$themes = {
  theme-default: {
    $primary--dark--color: #222,
    $secondary--dark--color: #1461ff,
    $primary--light--color: #fff,
    $secondary--light--color: #1461ff,
    $third--light--color: #777,
    $gradient--primary--color: -webkit-linear-gradient(-45deg, rgba(88, 195, 255, 0.7) 0, rgba(0, 77, 230, 0.7) 40%, rgba(0, 59, 177, 0.7) 100%),
    $gradient--secondary--color: rgba(0, 0, 0, 0.6),
    $background--primary--color: #fff,
    $background--footer--color: #003bb1,
    $button--color: #fff,
    $button--gradient--color: linear-gradient(-45deg, rgba(88, 195, 255, 0.8) 0, rgba(0, 77, 230, 0.8) 40%, rgba(0, 59, 177, 0.8) 100%),
    $content--text--decoration: none,
    $content--text--decoration__hover: underline,
    $news--card--image-gradient: none,
    $news--after--gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0, #fff 100%),
    $navbar--background--color: rgba(0, 0, 0, 0) none repeat scroll 0 0,
    $navbar--background--color--scroll: #fff,
    $navbar--menu-link--color: #fff,
    $navbar--menu-link--dark--color: #222,
    $image--grayscale--filter: none,
    $image--invert--filter: none
  },
  theme-white: {
    $primary--dark--color: #000,
    $secondary--dark--color: #000,
    $primary--light--color: #000,
    $secondary--light--color: #fff,
    $third--light--color: #000,
    $gradient--primary--color: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.7) 0, rgba(255, 255, 255, 0.7) 40%, rgba(255, 255, 255, 0.7) 100%),
    $gradient--secondary--color: rgba(0, 0, 0, 0.6),
    $background--primary--color: #fff,
    $background--footer--color: #fff,
    $button--color: #fff,
    $button--gradient--color: #000,
    $content--text--decoration: underline,
    $content--text--decoration__hover: none,
    $news--card--image-gradient: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0.7) 100%),
    $news--after--gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0, #fff 100%),
    $navbar--background--color: #000,
    $navbar--background--color--scroll: #000,
    $navbar--menu-link--color: #fff,
    $navbar--menu-link--dark--color: #fff,
    $image--grayscale--filter: grayscale(100%),
    $image--invert--filter: invert(100%)
  },
  theme-black: {
    $primary--dark--color: #fff,
    $secondary--dark--color: #fff,
    $primary--light--color: #fff,
    $secondary--light--color: #000,
    $third--light--color: #fff,
    $gradient--primary--color: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0.7) 100%),
    $gradient--secondary--color: rgba(255, 255, 255, 0.6),
    $background--primary--color: #000,
    $background--footer--color: #000,
    $button--color: #000,
    $button--gradient--color: #fff,
    $content--text--decoration: underline,
    $content--text--decoration__hover: none,
    $news--card--image-gradient: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.7) 0, rgba(255, 255, 255, 0.7) 40%, rgba(255, 255, 255, 0.7) 100%),
    $news--after--gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0, #000 100%),
    $navbar--background--color: #fff,
    $navbar--background--color--scroll: #fff,
    $navbar--menu-link--color: #000,
    $navbar--menu-link--dark--color: #000,
    $image--grayscale--filter: grayscale(100%),
    $image--invert--filter: none
  },
  theme-blue: {
    $primary--dark--color: #063462,
    $secondary--dark--color: #063462,
    $primary--light--color: #063462,
    $secondary--light--color: #9dd1ff,
    $third--light--color: #063462,
    $gradient--primary--color: -webkit-linear-gradient(-45deg, rgba(157, 209, 255, 0.7) 0, rgba(157, 209, 255, 0.7) 40%, rgba(157, 209, 255, 0.7) 100%),
    $gradient--secondary--color: rgba(6, 52, 98, 0.6),
    $background--primary--color: #9dd1ff,
    $background--footer--color: #9dd1ff,
    $button--color: #9dd1ff,
    $button--gradient--color: #063462,
    $content--text--decoration: underline,
    $content--text--decoration__hover: none,
    $news--card--image-gradient: -webkit-linear-gradient(-45deg, rgba(6, 52, 98, 0.7) 0, rgba(6, 52, 98, 0.7) 40%, rgba(6, 52, 98, 0.7) 100%),
    $news--after--gradient: linear-gradient(180deg, rgba(157, 209, 255, 0.4) 0, #9dd1ff 100%),
    $navbar--background--color: #063462,
    $navbar--background--color--scroll: #063462,
    $navbar--menu-link--color: #9dd1ff,
    $navbar--menu-link--dark--color: #9dd1ff,
    $image--grayscale--filter: grayscale(100%),
    $image--invert--filter: invert(100%)
  },
  theme-beige: {
    $primary--dark--color: #3b2716,
    $secondary--dark--color: #3b2716,
    $primary--light--color: #3b2716,
    $secondary--light--color: #f7f3d6,
    $third--light--color: #3b2716,
    $gradient--primary--color: -webkit-linear-gradient(-45deg, rgba(247, 243, 214, 0.7) 0, rgba(247, 243, 214, 0.7) 40%, rgba(247, 243, 214, 0.7) 100%),
    $gradient--secondary--color: rgba(59, 39, 22, 0.4),
    $background--primary--color: #f7f3d6,
    $background--footer--color: #f7f3d6,
    $button--color: #f7f3d6,
    $button--gradient--color: #3b2716,
    $content--text--decoration: underline,
    $content--text--decoration__hover: none,
    $news--card--image-gradient: -webkit-linear-gradient(-45deg, rgba(59, 39, 22, 0.7) 0, rgba(59, 39, 22, 0.7) 40%, rgba(59, 39, 22, 0.7) 100%),
    $news--after--gradient: linear-gradient(180deg, rgba(247, 243, 214, 0.4) 0, #f7f3d6 100%),
    $navbar--background--color: #3b2716,
    $navbar--background--color--scroll: #3b2716,
    $navbar--menu-link--color: #f7f3d6,
    $navbar--menu-link--dark--color: #f7f3d6,
    $image--grayscale--filter: grayscale(100%),
    $image--invert--filter: invert(100%)
  },
  theme-brown: {
    $primary--dark--color: #a9e44d,
    $secondary--dark--color: #a9e44d,
    $primary--light--color: #a9e44d,
    $secondary--light--color: #3b2716,
    $third--light--color: #a9e44d,
    $gradient--primary--color: -webkit-linear-gradient(-45deg, rgba(59, 39, 22, 0.7) 0, rgba(59, 39, 22, 0.7) 40%, rgba(59, 39, 22, 0.7) 100%),
    $gradient--secondary--color: rgba(169, 288, 77, 0.4),
    $background--primary--color: #3b2716,
    $background--footer--color: #3b2716,
    $button--color: #3b2716,
    $button--gradient--color: #a9e44d,
    $content--text--decoration: underline,
    $content--text--decoration__hover: none,
    $news--card--image-gradient: -webkit-linear-gradient(-45deg, rgba(169, 288, 77, 0.7) 0, rgba(169, 288, 77, 0.7) 40%, rgba(169, 288, 77, 0.7) 100%),
    $news--after--gradient: linear-gradient(180deg, rgba(59, 39, 22, 0.4) 0, #3b2716 100%),
    $navbar--background--color: #a9e44d,
    $navbar--background--color--scroll: #a9e44d,
    $navbar--menu-link--color: #3b2716,
    $navbar--menu-link--dark--color: #3b2716,
    $image--grayscale--filter: grayscale(100%),
    $image--invert--filter: none
  }
};
$fontSizes = {
  font-size--default: {
    $font-size: 1rem
  },
  font-size--medium: {
    $font-size: 1.125rem
  },
  font-size--large: {
    $font-size: 1.25rem
  }
};

themify($themes, $mixin) {
  for $theme in $themes {
    .{$theme} & {
      $mixin($themes[$theme]);
      transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    }
  }
}

fontSizefy($fontSizes, $mixin) {
  for $fontSize in $fontSizes {
    .{$fontSize} & {
      $mixin($fontSizes[$fontSize]);
    }
  }
}