*
  margin: 0
  padding: 0
  -webkit-box-sizing: border-box
  box-sizing: border-box
  outline: none
  list-style: none
  word-wrap: break-word
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif

#app
  height: 100vh
  width: 100vw
  background-color: #f4f4f4;

.layout
  height: 100%
  width: 100%
  min-width: 320px
  overflow: hidden
  -webkit-overflow-scrolling: touch

.shadow-container
  padding: 40px
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
  background-color: #fff
  .title
    margin-bottom: 40px
    h1
      font-size: 22px

.margin-top
  margin-top: 20px

.full-width
  width: 100%

.el-form .el-form-item:last-child
  margin-bottom: 0